<section class="page-wrap">
	<div class="container">
		<div class="profile">
			<%= profile_image_for @user %>
			<p class="name"><%= @user.identity %></p>
			<p class="email text-muted"><%= @user.email %></p>
			<%= bio_for @user %>
			<%= social_links_for @user %>
		</div>

		<div class="recent-activities">
			<h2 class="recent-activities-title">Recent Acitivies</h2>

			<%= render @recent_posts %>
		</div>
	</div>
</section>
