<div class="post-wrap">
	<div class="avatar-wrap">
		<%= profile_image_for forum_post.user, 'avatar' %>
	</div>

	<div class="post-content">
		<h2 class="forum-post-title">
			<%= link_to forum_post.title, forum_post %>
		</h2>

		<p class="post-description">
			Posted by <strong><%= link_to get_author(forum_post), forum_post.user, class: 'author' %></strong> on <%= local_time forum_post.created_at %> &#42889;&#42889; <span class="category-tag <%= forum_post.category.name.downcase %>"><%= link_to_category forum_post.category %></span>
		</p>

		<p class="post-description responsive">
			Posted by <strong><%= link_to get_author(forum_post), forum_post.user, class: 'author' %></strong> on <%= local_time forum_post.created_at %>under <span class="category-tag <%= forum_post.category.name.downcase %>"><%= link_to_category forum_post.category %></span> &#8212; <%= forum_post.forum_replies_count %> <%= pluralize_without_count(forum_post.forum_replies_count, 'reply') %>
		</p>
	</div>

	<div class="post-reply-count">
		<p class="reply-count">
			<%= forum_post.forum_replies_count %><br>
			<%= pluralize_without_count(forum_post.forum_replies_count, 'reply').capitalize %>
		</p>
	</div>
</div>
