<h1>Forum Posts</h1>

<div class="control-btn-group">
	<%= link_to 'New Post', new_forum_post_path, class: 'btn btn-primary' %>
	<%= select_tag :category, options_from_collection_for_select(Category.all, :id, :name) %>
</div>

<% @forum_posts.each do |post| %>
	<div class="post-wrap">
		<h3><%= link_to post.title, forum_post_path(post), class: 'forum-post-title' %></h3>
		<p class="post-description">Posted by <%= get_author(post) %> <%= time_ago_in_words post.created_at %> ago | <%= post.category.name %></p>
	</div>
<% end %>
