<% set_title "#{@forum_post.title}" %>

<section id="forum-post-section" class="page-wrap">
	<div class="container">
		<%= link_to '&larr; Back to the forum'.html_safe, forum_posts_path, class: 'back-to-forum-link' %>
		
		<h1 class="forum-post-title"><%= @forum_post.title %></h1>
		
		<div id="forum-post">
			<div class="avatar-wrap">
				<%= profile_image_for @forum_post.user, 'avatar' %>
			</div>

			<div class="post-content">
				<p class="post-description">
					Posted by <strong><%= link_to get_author(@forum_post), @forum_post.user, class: 'author' %></strong> on <%= local_time @forum_post.created_at %> &#42889;&#42889; <span class="category-tag <%= @forum_post.category.name.downcase %>"><%= link_to_category @forum_post.category %></span>

					<%= link_to_edit_forum_post @forum_post %>
				</p>

				<p class="post-description responsive">
					Posted by <strong><%= link_to get_author(@forum_post), @forum_post.user, class: 'author' %></strong> on <%= local_time @forum_post.created_at %>under <span class="category-tag <%= @forum_post.category.name.downcase %>"><%= link_to_category @forum_post.category %></span>
					
					<%= link_to_edit_forum_post @forum_post %>
				</p>

				<div class="post-body"><%= markdown @forum_post.body %></div>
			</div>
		</div>
		
		
		<%= render partial: 'forum_posts/forum_replies/forum_reply',
			collection: @forum_post.forum_replies %>
		
		<%= render_reply_form %>

		<%= link_to '&larr; Back to the forum'.html_safe, forum_posts_path, class: 'back-to-forum-link' %>
	</div>
</section>
