<%= div_for forum_reply, class: 'reply-wrap' do %>
	<div class="avatar-wrap">
		<%= profile_image_for forum_reply.user, 'avatar' %>
	</div>

	<div class="post-content">
		<p class="post-description">
			Posted by <strong><%= link_to get_author(forum_reply), forum_reply.user, class: 'author' %></strong> on <%= local_time forum_reply.created_at %>

			<%= link_to_edit_forum_reply forum_reply %>
		</p>
		
		<div class="post-body"><%= markdown forum_reply.body %></div>
	</div>
<% end %>
