<!DOCTYPE html>
<html>
<head>
  <title>TinyVessel</title>
  <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Questrial', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<% unless current_page?(root_path) %>
		<%= render 'layouts/header' %>
	<% end %>

	<%= render 'shared/flash' %>

	<%= yield %>

	<%= render 'layouts/footer' %>

</body>
</html>
